<div class="container">
  <div class="product-detail" *ngIf="product">
    <div class="row g-5 align-items-start">
      <div class="col-md-6">
        <div class="product-detail__image-wrap">
          <img [src]="product.imageFile" [alt]="product.name" class="product-detail__img" />
        </div>
      </div>
      <div class="col-md-6 product-detail__info">
        <span class="product-detail__eyebrow">Premium Collection</span>
        <h1 class="product-detail__title">{{ product.name }}</h1>
        <p class="product-detail__price">{{ product.price | currency:'INR' }}</p>
        <div class="product-detail__divider"></div>
        <p class="product-detail__description">{{ product.description }}</p>
        <div class="product-detail__qty-row">
          <i (click)="decrementQuantity()" class="fa fa-minus-circle product-detail__qty-btn"></i>
          <span class="product-detail__qty-value">{{ quantity }}</span>
          <i (click)="incrementQuantity()" class="fa fa-plus-circle product-detail__qty-btn"></i>
        </div>
        <button (click)="addItemToCart()" class="btn-luxury product-detail__add-btn">
          <i class="fa fa-shopping-cart mr-2"></i> Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>

