<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].label !== 'Home'"
    class="page-header">
    <div class="page-header__overlay"></div>
    <div class="container page-header__content">
      <div class="row align-items-center">
        <div class="col-md-8">
          <span class="page-header__eyebrow">Shopping</span>
          <h1 class="page-header__title">
            {{ breadcrumbs[breadcrumbs.length - 1].label | titlecase }}
          </h1>
        </div>
        <div class="col-md-4 d-flex justify-content-md-end justify-content-start mt-3 mt-md-0">
          <div class="page-header__breadcrumb">
            <xng-breadcrumb></xng-breadcrumb>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

